In [ ]:
# write the code here
# read the data
#df_copy = pd.read_csv('foodhub_order.csv').copy()
#df_copy.head()

In [ ]:
# to find average rating for each resturant
#ave_rating_df = new_df.groupby(['restaurant_name'])['rating'].mean().reset_index()
#ave_rating_df.head()

In [ ]:
#to drop 0, which is 'Not given' in rating column
new_df1 = new_df.loc[new_df["rating"] > 0]
new_df1

In [ ]:
# to create a DataFrame that has rating as 'Not given' 
#not_given = df[ df['rating']== 'Not given'].index
  
#not_given

In [ ]:
#to set variable(s) that might need to be convert
# Currently rating dtype is object. It will convert to int dtype for further analysis.
# to check how many types of ratings
pd.unique(df['rating'])

In [ ]:
plt.figure(figsize=(15,5))  # setting the figure size
sns.histplot(top_10['restaurant_name']); #can't fix count as numbers not a fraction.

In [ ]:
sns.catplot(x='cost_of_the_order',
             col='cuisine_type', 
             data=new_df1,
             col_wrap=4,
             kind="violin")
plt.show()

In [ ]:
number_of_unique_values = len(cus_id)
print(number_of_unique_values)

In [ ]:
cus_id= df['customer_id'].unique()
print(cus_id)

#### Observations:
* customer id vs cost of the order, there are more order in the range 10 dollars to 20 dollars.
* customer id vs order id, there are more orders in the customer id range 100-180000. Should check if there any are repeat customers
* cost of order does not have any effect on food preparation time nor delivery time

In [ ]:
rank = df.value_counts(['restaurant_name']).reset_index()
rank.head(10)

In [ ]:
data = [['Shake Shack',219],['The Meatball Shop',132],['Blue Ribbon Sushi',119],['Blue Ribbon Fried Chicken', 96],['Parm',68],['RedFarm Broadway',59],['RedFarm Hudson',55],['TAO',49],['Han Dynasty',46],['Blue Ribbon Sushi Bar & Grill',44]]
# Create the pandas DataFrame
top_10 = pd.DataFrame(data, columns = ['restaurant_name', 'order_count'])
 
top_10

In [ ]:
# to find if there are correlations between number of orders from restuarant 
# during weekday/weekend and rating

sns.catplot(y='restaurant_name',
           hue = 'day_of_the_week',
           col = 'rating',
           data = new_df,
           kind ="count");

In [ ]:
# new = old[['A', 'C', 'D']].copy()
# new = pd.DataFrame([old.A, old.B, old.C]).transpose()

#new = data[['food_preparation_time','delivery_time','rating']].copy()
#new = pd.DataFrame([data.food_preperation_time, data.delivery_time, data.rating]).transpose()

In [ ]:
print(df)
sum_column = df["col1"] + df["col2"]
df["col3"] = sum_column.
print(df)

In [ ]:
#want to creat top 25 restaurants based on order counts
top = new_df.copy()
top

t25 = top['restaurant_name'].value_counts()
top25 =t25
top25.head(25)

In [ ]:
list1=['Shake Shack',219]
list2=['The Meatball Shop',132]
list3=['Blue Ribbon Sushi',119]
list4=['Blue Ribbon Fried Chicken',96]
list5=['Parm',68]
list6=['RedFarm Broadway',59]
list7=['RedFarm Hudson',55]
list8=['TAO',49]
list9=['Han Dynasty',46]
list10=['Blue Ribbon Sushi Bar & Grill',44]
list11=['Nobu Next Door',42]
list12=['Rubirosa',37]
list13=['Sushi of Gari 46',37]
list14=['Momoya',30]
list15=['Blue Ribbon Sushi Izakaya',29]
list16=['Five Guys Burgers and Fries', 29]
list17=['Bareburger',27]
list18=['Tamarind TriBeCa',27]
list19=['Jacks Wife Freda',25]
list20=['Sushi of Gari Tribeca',24]
list21=['Chipotle Mexican Grill $1.99 Delivery',23]
list22=['Cafe Mogador',18]
list23=['The Smile',18]
list24=['Yama Japanese Restaurant',18]
list25=['ilili Restaurant',18]

In [ ]:
rest_top25= pd.DataFrame(data=[list1, list2, list3, list4,list5, list6, list7, list8, list9,list10,
                               list11, list12, list13, list14,list15, list16, list17, list18, list19,list20,
                               list21, list22, list23, list24,list25],
             columns=['Restaurant_Name', 'Order_Count'])
rest_top25.head()

In [ ]:
sns.countplot(y="Restaurant_Name", data=rest_top25)

# to not display any waring 
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline 
#to tell python to display the graphs
sns.set(color_codes=True) # to add a nice background to the graphs